@media (max-width: 480px ) {
  .about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 0;
  }

  .about-conteudo2 {
    padding: 0 1rem;
  }

  .about-conteudo-text {
    text-align: start;
  }

  .about_background {
    width: 100%;
    align-self: flex-start; /* Garante que a imagem também seja alinhada à esquerda */
    margin-top: 1rem;
  }
}

.about-conteudo-text {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #b0b0b0;
  font-size: 1em;
}
.about-conteudo-text.expanded {
  display: block;
  -webkit-line-clamp: unset;
  line-clamp: unset;
}

.read-more {
  color: #04abb3;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

.conteudo__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  text-align: center;
  margin: 2px;
}

.about {
  margin-bottom: 200px;
}
