<section class="my_proje">
  <h1><strong class="strong">Meu trabalho </strong>recente</h1>
  <div class="card_project">
    <img src="/hero_proj.png" class="projetos_item">
    <div class="button_container">
      <a class="custom_button" href="https://github.com/Marllon-Wendel2/HeroHub">GitHub</a>
    </div>
    <div class="button_container">
      <a class="custom_button" href="https://hero-hub.vercel.app">Deploy</a>
    </div>
  </div>
  <div class="card_project">
    <img src="/club_v1.png" class="projetos_item">
    <div class="button_container">
      <a class="custom_button" href="https://github.com/Marllon-Wendel2/ClubBooks">GitHub</a>
    </div>
    <div class="button_container">
      <a class="custom_button" href="https://club-books.vercel.app/">Deploy</a>
    </div>
    <div class="button_container">
      <a class="custom_button" href="https://github.com/Marllon-Wendel2/server-booksclub">BACK-END</a>
    </div>
  </div>
</section>
