<section class="conteudo__container">
  <div class="conteudo__container-text">
    <div class="conteudo">
      <h1><strong>DEV</strong><br>JAVA E JAVASCRIPT</h1>
    </div>
    <div class="buttons">
      <button class="buttons-item-destaque">Contrate-me</button>
      <button class="buttons-item">Veja meu currículo</button>
    </div>
  </div>
  <div class="image-overlay-container">
    <img src="/backgroungdiv.svg" class="overlay-img">
    <img src="/Group 2346.png" class="background-img">
  </div>
  <div class="container-seta">
    <img src="/Frame 7.svg" class="seta-img">
  </div>
</section>
